{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarte - Beat-e</title>

        
    <!-- Favicons -->
    <link href="{% static 'img/favicon.png' %}" rel="icon">
    <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- Estilos del Login -->
    <link href="{% static 'css/estilo_login.css' %}" rel="stylesheet">
</head>
<body>
    <a href="{% url 'home' %}">
    <img src="{% static 'img/logo-signup.svg' %}" alt="logo beate" class="logo-signup">
    </a>

    <h3 class="text-center">Regístrate gratis para escuchar</h3>

    <form action="" autocomplete="off">
        <div class="container signup-form">
        <hr>
      
          <label for="email"><b>¿Cuál es tu correo electrónico?</b></label>
          <input type="text" placeholder="Introduce tu correo electrónico." name="email" required>
      
          <label for="psw"><b>Crea una contraseña</b></label>
          <input type="password" placeholder="Crea una contraseña" name="psw" required>
      
          <label for="psw-repeat"><b>Repite tu Contraseña</b></label>
          <input type="password" placeholder="Repite tu Contraseña" name="psw-repeat" required>
          
          <label for="psw-repeat"><b>Escoge un nombre de perfil</b></label>
          <input type="text" placeholder="Introduce un nombre de perfil." name="email" required>
          
          <label for="psw-repeat"><b>Escoge tu país</b></label>
          <input type="text" placeholder="Introduce tu país." name="email" required>

      
          <p>Al registrarte, aceptas los <a href="#" style="color:dodgerblue">Terminos y Condiciones</a>.</p>
      
          <div class="clearfix">
            <button type="button" class="cancelbtnSignup">Cancel</button>
            <button type="submit" class="signupbtn">Sign Up</button>
          </div>

          <p class="text-center">¿Ya tienes cuenta? <a class="getstarted scrollto ingreso" onclick="document.getElementById('ingreso').style.display='block'">Inicia sesión.</a></p>
        </div>
    </form>

      <!-- ============ Login =============== -->

  <!-- The Modal -->
<div id="ingreso" class="modal">
  
    <!-- Modal Content -->
    <form class="modal-content animate" action="#" method="post">
      <div class="imgcontainer">
        <span onclick="document.getElementById('ingreso').style.display='none'" class="closeLogin" title="Close Modal">&times;</span>
        <img src="{% static 'img/log-in/login-ico.png' %}" alt="Avatar" class="avatar">
      </div>
  
      <div class="container">
        <label for="uname"><b>Nombre de Usuario</b></label>
        <input id="email" type="text" placeholder="Nombre de Usuario" name="uname" required>
  
        <label for="psw"><b>Contraseña</b></label>
        <input id="password" type="password" placeholder="Contraseña" name="psw" required>
  
        <button onclick="login(event)">Login</button>
        <label>
          <input type="checkbox" checked="checked" name="remember"> Recordarme
        </label>
  
        <span class="psw">¿Olvidaste tu <a href="#">contraseña?</a></span>
  
      </div>
  
      <div class="container" style="background-color:#f1f1f1">
        <button type="button" onclick="document.getElementById('ingreso').style.display='none'" class="cancelbtn">Cancelar</button>
        <!-- <span class="psw">¿Olvidaste tu <a href="#">contraseña?</a></span> -->
      </div>
    </form>
  </div>
  
  <script>
    // Get the modal
    var modal = document.getElementById('ingreso');
    
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
    var email = document.getElementById("email");
    var pass = document.getElementById("password");
    login() {
        console.log("Iniciando sesión");
        console.log(email);
        console.log(pass);
    }
    </script>
  
</body>
</html>
